.distribute {
	.window-content {
		height: 100%;
		overflow: hidden;
	}

	&__body {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	header,
	footer {
		flex: 0;
	}

	header {
		margin: 0;
	}

	footer {
		margin-top: 1em;
		margin-bottom: 0;
	}

	&__amount {
		display: grid;
		grid-template-columns: max-content 1fr 2em;
		gap: 1em;
		align-items: center;
		margin: 0;
		padding: 0;
		border: none;

		button {
			line-height: var(--form-field-height);
			padding: 0;
		}
	}

	&__party {
		flex: 1;
		display: grid;
		grid-template-columns: 2em 1fr;
		gap: 0 1em;
		margin: 1em 0 auto;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		grid-auto-rows: max-content;

		border-top: 2px groove var(--zh-clr-bg2);
		border-bottom: 2px groove var(--zh-clr-bg2);

		&__item {
			grid-column: 1/4;
			display: grid;
			grid-template-columns: subgrid;

			align-items: center;
			transition: 333ms color ease-in-out,
				333ms border-color ease-in-out;
			padding: .5em;

			&:not(:last-of-type) {
				border-bottom: 1px groove var(--zh-clr-bg2);
			}

			&:hover {
				color: var(--zh-clr-yellow);
			}

			&:has(input:checked) {
				color: var(--zh-clr-aqua);

				img {
					border-color: var(--zh-clr-aqua);
				}
			}

			input {
				display: none;
			}

			label {
				cursor: pointer;
			}

			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
				border-radius: .25em;
				border: 1px solid transparent;
				display: block;
			}
		}
	}

}