.party-sidebar .party-list {
  overflow-x: hidden;
  overflow-y: auto;

  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__item {
    display: grid;
    grid-template-columns: var(--sidebar-item-height) 1fr;
    gap: .5em;
    padding: 4px 8px;

    border-top: 1px solid var(--color-border-dark);
    border-bottom: 1px solid var(--color-border-dark-3);

    &:first-child {
      border-top: none;
    }

    .thumbnail {
      flex: 0 0 var(--sidebar-item-height);
      width: var(--sidebar-item-height);
      height: fit-content;
      border: none;
    }

    h4 {
      &:hover {
        color: var(--zh-clr-yellow)
      }
    }

    .thumbnail,
    h4 {
      cursor: pointer;
      transition: 333ms color ease-in-out;
    }

    &__header {
      display: flex;
      align-items: top;
      flex-direction: column;
      gap: 2px;
      margin-bottom: 8px;

      h4 {
        margin: 0;
      }


    }

    &__main {
      display: grid;
      grid-template-columns: 1fr;
      gap: .5em;

      &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: .5em;
      }
    }
  }
}